.titulo {
    margin-top: 86px;
}

.preguntas {
    border-top: 1px solid #2c2a29;
    text-decoration: none;
    color: #000000;
    height: 68px;
    align-items: center;
    border-bottom: 1px solid #2c2a29;
    padding-top: 10px;
}
.carta1 {
    width: 25rem;
    border: none !important;
    background-color: #FF7F41;
}

.boton1 {
    margin-top: 64px;
    border-radius: 6px;
    background-color: #FF7F41;
    border: 1px solid;
}
.boton1:hover{
    background-color: #8c0f0f;
    color: white;
    border: none;
}

.container-2 {
    margin-top: 54px;
}
