@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:wght@700&family=Dancing+Script:wght@400;500&family=M+PLUS+Rounded+1c:wght@100&family=Ramaraja&family=Roboto:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Macondo+Swash+Caps&display=swap');

.imagen-logo{
    position: absolute;
    width: 68px;
    height: 54px;
    padding-left: 17px;
    margin-top: 20px;
}

.titulo-chaco{
    padding-left: 80px;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    letter-spacing: 3px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.bg-dark {
    background-color: #8c0f0f!important;
}

.letra-slider{
    font-family: OpenSans-Regular;
    margin-left: 60px;
    font-size: 21px;

}

@media (min-width: 992px) and (max-width: 1499px){
    .listadoSlider {
        margin-left: 100px !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px !important; 
        padding-left: 0rem !important; 
}
}

@media (min-width: 992px) and (max-width: 1499px){
    .listadoSlider {
        margin-left: 100px !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px !important; 
        padding-left: 0rem !important; 
}
}

@media (min-width: 1px) and (max-width: 992px){
    .carta1 {
        width: 100% !important;
    }

    .imagen-centro {
        display: flex;
        justify-content: center;
    }

    .contenido3 {
        margin-left: -15px;
    }

    /*de aqui para abajo es lo de la navar */

    .titulo-chaco {
        padding-left: 0px !important;
    }

    .imagen-logo {
        position: relative;
        margin-top: 0px !important;
        max-width: 39px;
        max-height: 39px;
        margin-left: 29px;
    }

    .listado:hover{
        background-color: rgb(46, 95, 70);
        width: 100%px;
    }

    .listado{
        padding-top:10px
    }

    .colapsador{
        margin-top:17px !important;
    }

    .imagen-logo{
        padding-left: 0 !important;
    }

    .listadoSlider{
        margin-left: 0px !important;
    }

    .letra-slider{
        font-family: OpenSans-Regular;
        margin-left: 0px !important;
    }

    .bg-dark {
        background-color: #212529!important;
    }
} 

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0rem !important; 
            padding-left: 0rem !important; 
    }
    }

.carta4{
background-color: #00ffff;
}

.imagen-carrusel1 {
    max-width: 555px;
}

.titulocarrusel1 {
    font-size: 38px;
    padding-left: 63px;
}

.botoncarrusel1 {
    border-radius: 50px;
    color: #292929;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.38px;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    background-color: #FDDA24;
    margin-left: 60px;
    margin-top: 50px;
    border: none;
    height: 50px;
    width: 150px;
}

.botoncarrusel1:hover {
    background-color: #8c0f0f;
    color: #ffffff;
    box-shadow: 0px 0px 5px 1px black;
}

.texto1 {
    margin-left: 64px;
}

.fondo {
    background-color: #F4F4F4;
    margin-top: 50px;
}
.slick-prev {
    width: 50px !important;
    height: 50px !important;
    margin-left: -58px !important;
}
.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 80px !important;
    line-height: 1;
    opacity: .75;
    color: #8c0f0f!important;
    -webkit-font-smoothing: antialiased;
}

.imagen-carrusel2 {
    max-width: 555px;
}

.texto2 {
    margin-left: 103px;
}

.texto3 {
    margin-top: -18px;
    margin-left: 103px;
}

.titulocarrusel2 {
    text-align: center;
    margin-top: 120px;
}

.titulo2 {
    margin-top: 50px;
}

.imagenes {
    margin-top: 50px;
}

.carta1 {
    background-color: #f5b6cd;
}

.boton-1 {
    border-radius: 50px;
    color: #292929;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.38px;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    background-color: #f5b6cd;
    margin-left: 60px;
    margin-top: 50px;
    border: 1px solid;
    height: 40px;
    width: 120px;
}

.carta2 {
    background-color: #00c389;
}

.boton-2 {
    border-radius: 50px;
    color: #292929;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.38px;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    background-color: #00c389;
    margin-top: 23px;
    border: 1px solid;
    height: 40px;
    width: 120px;
}

.carta3 {
    background-color: #fdda24;
}

.boton-3 {
    border-radius: 50px;
    color: #292929;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.38px;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    background-color: #fdda24;
    margin-top: 35px;
    border: 1px solid;
    height: 40px;
    width: 120px;
}

.cartas {
    margin-top: 50px;
}

.pet {
    margin-top: 50px;
}

.empresas-t {
    color: #112c60;
    margin-top: 50px;
}

.imagen-tendencia {
    max-width: 549px;
}

.boton-4 {
    border-radius: 50px;
    color: #292929;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.38px;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    background-color: #00ffff;
    margin-top: 35px;
    border: 1px solid;
    height: 40px;
    width: 120px;
}

.carta5 {
    background-color: #ba55d3;
}

.boton-5 {
    border-radius: 50px;
    color: #292929;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.38px;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    background-color: #ba55d3;
    margin-top: 45px;
    border: 1px solid;
    height: 40px;
    width: 120px;
}

.espacio {
    margin-top: 50px;
}